@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
	padding-top: 5rem;
    
	&__grid {
		@include m.tablet {
			@include m.grid(3, 2rem);
		}
	}

	&__box {
		text-align: center;

		&:nth-child(3) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__heading {
		@include m.heading;
		font-size: 3.4rem;
	}

	&__texto {
		line-height: 1.8;
	}

	&__copy {
		border-top: 1px solid darken(v.$grisClaro, 10);
		color: v.$gris;
		font-size: 1.6rem;
		max-width: 120rem;
		margin: 2rem auto 0;
		padding: 2rem 0;
		text-align: center;
	}
}
